<div id='review_<%= review.id%>'>
  <%= review.user.email %> (Rating: <%= review.rating %>)<br />
  <i><%= review.content %></i><br />

  <% if current_user && current_user.id == review.user.id %>
    <%= link_to "edit", edit_den_review_path(@den, review), remote: true, id: 'review-edit' %> |
    <%= link_to "delete", den_review_path(@den, review), remote: true, id: 'review-destroy',
                                                         :data => {:confirm => "You sure?",
                                                         :method => "delete"}%>
  <% end %>
    <br />
    <br />
</div>
